<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <% include ./partials/header %>

    <title>Store front</title>
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-4">Checkout</h1>

        <% if(!sc || sc.items.length == 0) { %>
        <h3>Empty! Buy more!!</h3>
        <a href="/" class="btn btn-primary">Go to Store Front</a>
        <% } else { %>
        <form action="/" method="POST">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_nM6DRmYN1apuuOG8qkqSNWRV" data-amount="<%= sc.getTotal() * 100%>" data-name="Demo Site"
                data-description="Example charge"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto">
                </script>
            <input type="hidden" name="amount" value="<%= utils.dollar.format(sc.getTotal() )%>">
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Qty</th>
                    <th class="text-right" scope="col">Unit Price</th>
                    <th class="text-right" scope="col">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <% for (const item of sc.items) {%>
                <tr>
                    <td><%= item.sbook.title %></td>
                    <td><%= item.qty %></td>
                    <td class="text-right"><%= utils.dollar.format(item.sbook.price) %></td>
                    <td class="text-right"><%= utils.dollar.format(item.sbook.price * item.qty) %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        Grand Total: <%= utils.dollar.format(sc.getTotal() )%>
        <% } %>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include ./partials/scripts %>
</body>

</html>